h1{
    color: crimson;
}
body{
    background-color: whitesmoke;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border: darkred;

}
.important{
    font-style: italic;
    color: tomato;
}
.me{
    font: 1em sans-serif;
}
@media screen and (min-width:480px) and (max-width:780px {
    background color: black;
    
    
}