h1{
    color: crimson;
}
body{
    background-color: whitesmoke;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border: darkred;

}
.important{
    font-style: italic;
    color: tomato;
}
.me{
    font-family: Georgia, 'Times New Roman', Times, serif;
}